<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cov.link.mapper.MerchantMapper">

    <update id="indexAddAmountByAccountId">
        update sys_merchant_flow_amount
        set amount = amount + #{amount}
        where merchant_id = #{merchantId}
          and amount_index = #{amountIndex}
    </update>

    <select id="getMerchantAmount" resultType="java.lang.Double">
        select sum(amount)
        from sys_merchant_flow_amount
        where merchant_id = #{merchantId}
    </select>

</mapper>